#login{
    position: absolute;
    margin: auto;
    top: 0; right: 0;
    bottom: 0; left: 0;
    &, & .card{ height: 186px; }
    .card{
        position: relative;
        .alert-danger.alert-dismissible.mb-0{
            position: absolute;
            top: -76px;
            left: 0;
            right: 0;
            .close{
                top: 12px;
                right: 12px;
                cursor: pointer;
            }
        }
    }
}
